body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #dbeafe, #c7d2fe);
    font-family: Arial, sans-serif;
}

.card {
    background: #ffffff;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #3b82f6;
    margin-bottom: 20px;
}

h1 {
    color: #1e3a8a;
    margin-bottom: 15px;
}

.description {
    color: #444;
    font-size: 16px;
    margin-bottom: 25px;
}

.tags span {
    background: #e0e7ff;
    color: #1d4ed8;
    padding: 8px 15px;
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
}

.btnMusic {
    display: inline-block;
    margin-top: 20px;
    background: #2563eb;
    color: white;
    padding: 14px 22px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btnMusic:hover {
    background: #1d4ed8;
    transform: scale(1.05);
}

.main-btn:hover {
    background: #1d4ed8;
}

.secondary-btn {
    margin-top: 15px;
    background: #9333ea;
    color: white;
    padding: 15px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}


.dark-mode {
    background: #1e293b;
    color: white;
}

.dark-mode .card {
    background: #334155;
}

.dark-mode h1 {
    color: #93c5fd;
}

.dark-mode .description {
    color: #e5e7eb;
}
